config {

    testsDir "tests"
    workDir ".nf-test"
    configFile "tests/nextflow.config"
    profile "docker"

    // ignore tests coming from the nf-core/modules repo
    ignore 'modules/nf-core/**/tests/*', 'subworkflows/nf-core/**/tests/*'
    plugins {
        load "nft-bam@0.6.0"
        load "nft-fastq@0.0.1"
        load "nft-utils@0.0.3"
        load "nft-vcf@1.0.7"
    }

}


