/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/
// Required for accessing public nf-core assets on S3
aws {
    client {
        anonymous = true
    }
}

process {
    resourceLimits = [
        cpus: 6,
        memory: '15.GB',
        time: '40.m'
    ]
    withName: ".*:MSISENSOR2_SCAN" {
        ext.when = { False }
    }
    withName: 'MULTIQC' {
        // we skip this because currently we do not compare any MULTIQC outputs
        ext.when = false
    }
}

params {
    // We define shared params here
    // Input data
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    pipelines_testdata_base_path = "${projectDir}/assets/integration/"

    input = params.pipelines_testdata_base_path + 'fastq_tumor_only.csv'
    targets = params.pipelines_testdata_base_path + 'chr21_targets.bed' // Completely synthetic
    baits = params.pipelines_testdata_base_path + 'chr21_baits.bed' // Completely synthetic

    fasta = params.modules_testdata_base_path + 'genomics/homo_sapiens/genome/chr21/sequence/genome.fasta'

    // Variant Annotation cache information: to be shared across all pipeline tests unless overridden
    // The SnpEff cache comes from nf-core and is small enough to be consistently downloaded; VEP is too
    // large and thus we use a local subset of the required data
    ensemblvep_species = 'homo_sapiens'
    ensemblvep_cache_version = '114'
    snpeff_db = '105'
    annotation_genome_version = 'GRCh38'
    ensemblvep_cache = "${projectDir}/assets/integration/vep" // chr21 only
    snpeff_cache     = 's3://annotation-cache/snpeff_cache/GRCh38.105/'

}
