/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
    ]

    withName: ALIGNBAM {
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*{bam,bai}",
        ]
    }

    withName: BWAMEM2_INDEX {
        ext.when = { !params.bwa }
        publishDir = [
            path: { params.save_reference ? "${params.outdir}/reference" : params.outdir },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename != 'versions.yml' && params.save_reference ? filename : null },
        ]
    }
    withName: CIVICPY {
        ext.when = { params.skip_civicpy == false }
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*{vcf}",
        ]
    }

    withName: CNVKIT_BATCH {
        // hmm-tumor performs well for relatively pure, high coverage tumor samples
        // alternative segmentation methods can be explored here:
        // https://cnvkit.readthedocs.io/en/stable/pipeline.html#segmentation-methods
        ext.args = "--segment-method hmm-tumor"
        publishDir = [
            path: { "${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*{bed,cnn,cnr,cns,pdf,png}",
        ]
    }

    withName: ENSEMBLVEP_DOWNLOAD {
        ext.when = { !params.ensemblvep_cache }
        ext.args   = { '--AUTO c --CONVERT --NO_BIOPERL --NO_HTSLIB --NO_TEST --NO_UPDATE' }
        publishDir = [
            path: { "${params.outdir}/ensemblvep_cache" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename != 'versions.yml' && params.save_reference ? filename : null },
        ]
    }

    withName: 'ENSEMBLVEP_VEP' {
        ext.args = "--vcf" + (params.cosmic_vcf ? " --custom ${params.cosmic_vcf},Cosmic,vcf,exact,0" : "")
        ext.prefix = { "${meta.id}.vep" }
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/${meta.id}/" },
                pattern: "*{gz,html}",
            ]
        ]
    }

    withName: GATK4_MUTECT2 {
        ext.args = "--interval-padding ${params.target_padding}"
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*{gz,stats,tbi}",
        ]
    }

    withName: FASTP {
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*{fastq.gz,json,html,log}",
        ]
    }

    withName: FASTQC {
        ext.args = '--quiet'
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*{html,zip}",
        ]
    }

    withName: FGBIO_FASTQTOBAM {
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: '*.bam',
        ]
    }

    withName: "MSISENSOR.*_SCAN" {
        ext.when = { !params.msisensor_scan }
        publishDir = [
            path: { params.save_reference ? "${params.outdir}/genome" : params.outdir },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename != 'versions.yml' && params.save_reference ? filename : null },
        ]
    }

    withName: MSISENSOR2_MSI {
        // NB: The module outputs the summary file as "${prefix}"
        ext.prefix = { "${meta.id}.msi" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*msi*",
        ]
    }

    withName: MSISENSORPRO_PRO {
        // NB: The module outputs the summary file as "${prefix}"
        ext.prefix = { "${meta.id}.msi" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*msi*",
        ]
    }

    withName: PERBASE {
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: '*.tsv.gz',
        ]
    }

    withName: 'PICARD.*' {
        ext.args = {
            "-XX:GCTimeLimit=50 -XX:GCHeapFreeLimit=10 -Dsamjdk.use_async_io_read_samtools=true " + "-Dsamjdk.use_async_io_write_samtools=true"
        }
    }

    // Settings recommended by Twist: https://www.twistbioscience.com/resources/technical-note/analyzing-twist-targeted-methylation-sequencing-data-using-twist-human
    // TODO: add twistcgp specific doc link when available
    withName: PICARD_COLLECTHSMETRICS {
        ext.args = {
            "-XX:GCTimeLimit=50 -XX:GCHeapFreeLimit=10 -Dsamjdk.use_async_io_read_samtools=true " + "-Dsamjdk.use_async_io_write_samtools=true " + "--MINIMUM_MAPPING_QUALITY 20 " + "--COVERAGE_CAP 1000 " + "--NEAR_DISTANCE 500 " + "--PER_TARGET_COVERAGE ${task.ext.prefix ?: meta.id}.CollectHsMetrics.per_target_metrics "
        }
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*{_metrics}",
        ]
    }

    withName: PICARD_COLLECTMULTIPLEMETRICS {
        ext.args = {
            "-XX:GCTimeLimit=50 -XX:GCHeapFreeLimit=10 -Dsamjdk.use_async_io_read_samtools=true " + "-Dsamjdk.use_async_io_write_samtools=true " + "--PROGRAM null " + "--PROGRAM CollectAlignmentSummaryMetrics " + "--PROGRAM CollectBaseDistributionByCycle " + "--PROGRAM CollectGcBiasMetrics  " + "--PROGRAM CollectInsertSizeMetrics " + "--PROGRAM CollectQualityYieldMetrics " + "--PROGRAM CollectSequencingArtifactMetrics " + "--PROGRAM MeanQualityByCycle " + "--PROGRAM QualityScoreDistribution"
        }
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*{metrics.txt,pdf}",
        ]
    }

    withName: PICARD_INTERVALLISTTOBED {
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*{.bed}",
        ]
    }

    withName: PICARD_MARKDUPLICATES {
        ext.suffix = "mapped.dup_marked.bam"
        ext.args = {
            "-XX:GCTimeLimit=50 -XX:GCHeapFreeLimit=10 -Dsamjdk.use_async_io_read_samtools=true " + "-Dsamjdk.use_async_io_write_samtools=true " + "--CREATE_INDEX "
        }
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: '*{metrics.txt,bam,bai}',
        ]
    }

    withName: SAMTOOLS_FAIDX {
        ext.when = { !params.fasta_fai }
        publishDir = [
            path: { params.save_reference ? "${params.outdir}/reference" : params.outdir },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename != 'versions.yml' && params.save_reference ? filename : null },
        ]
    }

    withName: SAMTOOLS_DICT {
        ext.when = { !params.dict }
        publishDir = [
            path: { params.save_reference ? "${params.outdir}/reference" : params.outdir },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename != 'versions.yml' && params.save_reference ? filename : null },
        ]
    }

    withName: SNPEFF_DOWNLOAD {
        ext.when = { !params.snpeff_cache }
        publishDir = [
            path: { "${params.outdir}/snpeff_cache" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename != 'versions.yml' && params.save_reference ? filename : null },
        ]
    }

    withName: SNPEFF_SNPEFF {
        ext.args = { '-canon -v' } //allow canonical transcripts
        ext.prefix = { "${meta.id}.snpeff" }
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/${meta.id}/" },
                pattern: "*{csv,html,txt}",
            ]
        ]
    }

    withName: TMB {
        // Recommended by: https://friendsofcancerresearch.org/publication/in-silico-assessment-of-variation-in-tmb-quantification-across-diagnostic-platforms-phase-1-of-the-friends-of-cancer-research-harmonization-project/
        ext.args = "--vaf 0.05 --filterLowQual --minDepth 25 --minAltDepth 3"
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: '*{log}',
        ]
    }

    withName: MULTIQC {
        ext.args = { params.multiqc_title ? "--title \"${params.multiqc_title}\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: TABIX_BGZIPTABIX {
        ext.prefix = { "${meta.id}.snpeff" }
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/${meta.id}/" },
            pattern: "*{gz,gz.tbi}",
        ]
    }

    withName: TABIX_TABIX {
        ext.prefix = { "${meta.id}.snpeff" }
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/${meta.id}/" },
            pattern: "*{gz,gz.tbi}",
        ]
    }

    withName: TABIX_POPULATION_GERMLINE {
        ext.when = {
            params.population_germline_vcf && !new File("${params.population_germline_vcf}.tbi").exists()
        }
        publishDir = [
            path: { params.save_reference ? "${params.outdir}/reference" : params.outdir },
            mode: params.publish_dir_mode,
            pattern: "*.tbi",
            saveAs: { filename -> filename != 'versions.yml' && params.save_reference ? filename : null },
        ]
    }

    withName: TABIX_PON {
        ext.when = {
            params.pon_vcf && !new File("${params.pon_vcf}.tbi").exists()
        }
        publishDir = [
            path: { params.save_reference ? "${params.outdir}/reference" : params.outdir },
            mode: params.publish_dir_mode,
            pattern: "*.tbi",
            saveAs: { filename -> filename != 'versions.yml' && params.save_reference ? filename : null },
        ]
    }

    withName: TABIX_COSMIC {
        ext.when = { params.cosmic_vcf && !new File("${params.cosmic_vcf}.tbi").exists() }
        publishDir = [
            path: { params.save_reference ? "${params.outdir}/reference" : params.outdir },
            mode: params.publish_dir_mode,
            pattern: "*.tbi",
            saveAs: { filename -> filename != 'versions.yml' && params.save_reference ? filename : null },
        ]
    }
}
