/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: ALIGNBAM {
        // TODO: Should we publish the non-duplicate marked BAMs?
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*{bam,bai}",
        ]
    }

    withName: BWAMEM2_INDEX {
        ext.when = { !params.bwa }
        publishDir = [
            path: { params.save_reference ? "${params.outdir}/genome" : params.outdir },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename != 'versions.yml' && params.save_reference ? filename : null },
        ]
    }

    withName: FASTP {
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*{fastq.gz,json,html,log}",
        ]
    }

    withName: FASTQC {
        ext.args = '--quiet'
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*{html,zip}",
        ]
    }

    withName: FGBIO_FASTQTOBAM {
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: '*.bam',
        ]
    }

    withName: PERBASE {
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: '*.tsv.gz',
        ]
    }

    withName: "PICARD.*" {
        ext.args = {
            "-XX:GCTimeLimit=50 -XX:GCHeapFreeLimit=10 -Dsamjdk.use_async_io_read_samtools=true " +
            "-Dsamjdk.use_async_io_write_samtools=true"
        }
    }

    withName: PICARD_MARKDUPLICATES {
        ext.suffix = "mapped.dup_marked.bam"
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: '*{metrics.txt,bam}',
        ]
    }

    withName: PICARD_COLLECTMULTIPLEMETRICS {
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*{metrics.txt,pdf}",
        ]
    }

    withName: SAMTOOLS_FAIDX {
        ext.when = { !params.fasta_fai }
        publishDir = [
            path: { params.save_reference ? "${params.outdir}/genome" : params.outdir },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename != 'versions.yml' && params.save_reference ? filename : null },
        ]
    }

    withName: SAMTOOLS_DICT {
        ext.when = { !params.dict }
        publishDir = [
            path: { params.save_reference ? "${params.outdir}/genome" : params.outdir },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename != 'versions.yml' && params.save_reference ? filename : null },
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
