/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run fulcrumgenomics/twistcgp -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 2,
        memory: '4.GB',
        time: '10.m',
    ]
    withName: SNPEFF_SNPEFF {
        // This process fails with the empty output from GATK4_MUTECT2
        // TODO: Create small test data to use in integration testing
        ext.when = { false }
    }
    withName: TABIX_BGZIPTABIX {
        // This process runs after SNPEFF_SNPEFF, which we are also skipping
        ext.when = { false }
    }
    withName: '.*:ENSEMBLVEP_DOWNLOAD' {
        // This process takes more than 10 minutes; we will skip it for now
        ext.when = { false }
    }
    withName: '.*:ENSEMBLVEP_VEP' {
        // This process fails with the empty output from GATK4_MUTECT2
        // TODO: Create small test data to use in integration testing
        ext.when = { false }
    }
    withName: "TMB" {
        // This process runs after SNPEFF_SNPEFF, which we are also skipping
        ext.when = { False }
    }
    withName: "MSISENSOR2_MSI" {
        // This process fails with the empty output from MSISENSOR2_SCAN
        // TODO: Create small test data to use in integration testing
        ext.when = { False }
    }
    withName: "MSISENSORPRO_PRO" {
        // This process fails with the empty output from MSISENSOR2_SCAN
        // TODO: Create small test data to use in integration testing
        ext.when = { False }
    }
}

params {
    config_profile_name = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input = params.pipelines_testdata_base_path + 'samplesheet.csv'
    baits = params.pipelines_testdata_base_path + 'panel.intervallist'
    targets = params.pipelines_testdata_base_path + 'panel.bed'

    // nf-core modules test-data
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    fasta = params.pipelines_testdata_base_path + 'reference.fa'
}
